nav ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  margin-left: 25px;
}

.nav-link {
  color: white;
}

#navbar {
  background-color: #FFD523;
}

.portfolioName {
  color: white;
}